* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

footer {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
}

.icon-section {
  margin-top: 100px;
}

.icon-div {
  display: flex;
  flex-direction: column;
  @media (min-width: 480px) {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.icon-text,
.team-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-seperator {
  margin-top: 20px;
  width: 75px;
  border-top: 3px solid rgba(65, 61, 75, 0.3);
}

.icon-box {
  padding: 20px;

  display: grid;
  justify-items: center;
}

.team-section {
  background-image: url("./design-assets/bgk-header.png");
}
